@import "styles/mixins.scss";

.layoutBeforeLogin {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__column {
    min-height: 100vh;
    &--left {
      background-image: url("https://via.placeholder.com/1");
      background-repeat: repeat;
      border-radius: 0 140px 140px 0;
    }
    &--right {
      padding: 80px;
      @include useFlex();
    }
  }
}
